/*Importing font*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", "sans-serif";
}

html {
  font-size: 98.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #0ccef0;
  color: beige;
}

header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Big logo name*/
.logo {
  font-size: 4rem;
  color: #579bc9;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.2);
}

/*Navigation bar and animation*/
nav a {
  font-size: 1.5rem;
  margin-left: 10rem;
  color: white;
  font-weight: 800;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active {
  color: #579cb9;
  border-bottom: 4px solid #579bc9;
}

/*Layout for body text*/
section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: #9ccef0;
}

.home .home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
}

.home .home-content p {
  font-size: 1.5rem;
}

/*Color for my name*/
span {
  color: #579bc9;
}

/*Polaroid looking frame*/
.home-img {
  width: 50vw;
  height: 30vw;
  background-color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.home-img img {
  margin-left: 3.5%;
  margin-top: 3.5%;
  width: 18vw;
  height: 25vw;
  display: block;
  border-radius: 2%;
}
